.form-row{
  display: flex;
  justify-content: left;
  padding: 20px 0 0 20px;
}
.form-row label{
  border-radius: 6px;
  margin-bottom: 12px;
  width: 100px;
}

.form-row input, .form-row select{
  width: 170px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.form-button{
  width: 40%;
  display: flex;
  padding-left: 20px
}

#submit{
  position:relative;
  top: 0;
  border: none;
  background: linear-gradient(to right, #828fd3 0%, #5e6dbe 50%, #5461aa 100%);
  color: white;
  border-radius: 27px;
  padding: 8px 32px;
}

#submit:hover{
  top: -2px;
  transition: 200ms;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.table{
  margin: 60px 0 0 0;
  overflow: hidden;
}
.table>:not(:last-child)>:last-child>*{
  border-bottom: none;
}

.table-headers th{
  border: 1px solid #0dcaf0;
}

td{
  overflow: hidden;
  overflow-x: auto;
  min-width: 23vw;
  max-width: 23vw;
}

#tableBody{
  display: block;
  max-height: 38.5vh;
  overflow-y: auto;
  border-bottom: 2px solid #0dcaf0;
  border-top: 2px solid #0dcaf0;
}
tr{
  width: 100%;
  display: table;
}